:root{
    --fonte-principal: 'Inter', sans-serif;
    --titulo: #ffffff;
    --letras: #000000;
    --header: #07c3f7;
    --fundo: #ffffff;
    --sombra: #e2b496;
    --h1-fundo: #023b4c;
    --h1-letra: #ffffff;
    --botao-letra: #ffffff;
    --botao: #00aa06;
    --botao-animado: #00d0ff;
    --botao-animado-letra: #050505;
    
    --preto: #000000;
    --branco: #ffffff;
    --areia: #f7cb07;
    --pastel-grey: #cac6bb;
    --silver-sand: #e0dfda;
    --granite: #868174;
    --pastel-brown: #a18c74;
    --green-mist: #d2cbaf;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--fonte-principal);
    background-image: linear-gradient(var(--pastel-brown),var(--pastel-grey));
}

header{
    width: 100%;
    height: 100px;
    background-color: #8d7961ab;
    padding-top: 10px;
    margin-bottom: 5px;
    border-bottom: 1px solid var(--sombra);
    
    & p{
        font-family: Georgia, 'Times New Roman', Times, serif;
        padding-top: 11px;
        color: var(--areia);
        text-align: center;
        font-size: 2em;
        font-style: italic;
        font-weight: bold;
    }
    & a{
        color: var(--header);
        text-decoration: none;
    }
    & a:hover{
        color: white;
        text-decoration: underline;
    }
}

section{
    margin-left: 15px;
    color: var(--silver-sand);

    & #menuIcon {
        font-size: 30px;
        cursor: pointer;
    }
    & #menu{
        position: absolute;
        background-color: var(--granite);
        padding: 10px;
        top: auto;
        left: auto;
        border-radius: 10px;
    }
    & #menu.hidden {
        display: none;
    }
    & ul li{
        list-style: none;
        margin: 10px 0;
    }
    & ul li a{
        text-decoration: none;
        color: var(--branco);
        padding: 5px 10px;
        border-radius: 10px;
        display: block;
    }
    & ul li a:hover{
        background-color: var(--green-mist);
        color: var(--preto);
    }
}

#principal{
    width: 600px;
    height: 500px;
    background-color: var(--silver-sand);
    margin: auto;
    margin-bottom: 50px;
    box-shadow: 10px 10px 50px var(--sombra);

    & h1{
        color: var(--h1-letra);
        background-color: var(--h1-fundo);
        font-size: large 40px;
        text-align: center;
        width: inherit;
        height: 80px;
        padding-top: 20px;
    }
    & form{
        width: 95%;
        margin: auto;
    }
    & label{
        color: var(--letras);
        width: 500px;
        height: 20px;
        display: block;
        font-weight: bold;
        font-size: 1.1em;
    }
    & input{
        width: 90%;
        height: 33px;
        border-radius: 10px;
        font-size: 1.3em;
        margin-bottom: 12px;
    }
    & input:hover{
        border: solid 1px #ff0000;
    }
    & input:focus{
        border: solid 2px #00aa06;
    }
    & #salvar{
        margin-top: 10px;
        padding-top: 10px;
        display: block;
        text-align: center;
        background-color: var(--botao);
        border-radius: 15px;
        font-size: 1.3em;
        font-weight: bold;
        color: var(--botao-letra);
        height: 40px;
        width: 120px;
        margin-left: 37%;
    }
    & #salvar:hover{
        background-color: var(--botao-animado);
        color: var(--botao-animado-letra);
        cursor: pointer;
    }
}

@keyframes typing {
    0% { border-color: transparent; }
    50% { border-color: var(--header) }
    0% { border-color: transparent; }
}

input:focus {
    outline: none;
    animation: typing 5s infinite;
}

#listPets{
    width: 50%;
    height: auto;
    min-height: 200px;
    overflow: hidden;
    background-color: var(--granite);
    padding-top: 0px;
    margin: auto;
    margin-bottom: 50px;
    padding: 10px;
    box-shadow: 10px 10px 50px var(--sombra);
    border-radius: 15px;

    & h1{
        color: var(--header);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        letter-spacing: 10px;
        text-align: center;
        background-color: var(--silver-sand);
        border-radius: 10px;
        padding-top: 20px;
        height: 80px;
        width: 99%;
        margin: auto;
        margin-bottom: 10px;
    }
    & .linha{
        display: flex;
        width: 99%;
        height: 43px;
        margin-bottom: 7px;
    }
    .titulo{
        color: var(--header);
        background-color: var(--preto);
        padding-top: 11px;
        text-align: center;
        width: 30%;
        font-size: 1.2em;
        font-weight: bold;
        margin-right: 5px;
    }
    & #listDados .linha div{
        width: 30%;
        margin-right: 5px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    & .dados div{
        width: 50px;
        background-color:var(--branco);
        box-sizing: border-box;
        margin-right: 15px;
        padding: 10px;
        font-size: 13.4px;
    }
    & .dados img{
        width: 30px;
        height: 30px;
        margin-right: 17px;
    }
    & .dados img:hover{
        cursor: pointer;
    }
}

/*Rodapé*/
footer#rodape {
    display: flexbox;
    background-color: #8d7961c2;
    color: var(--preto);
    margin-top: auto;
    clear: both;
    border-top: 3px solid var(--sombra);
    text-align: center;
    font-size: 20px;

    & a{
        text-decoration: none;
        color: var(--preto);
    }
    & a:hover{
        color: #ea00ff;
        text-decoration: underline;
    }
}